body {
	color: #555152;
}


#sidebar-wrapper{
	color: #EFFFCD;
	border-right: 1em solid #555152;

}

#sidebar-wrapper p{
	margin-bottom: 2em;
}

#mob{
	width:100%;
	height:auto;
	cursor: pointer;
	top:10px;
}

.page-content h1{
	margin-top: 0;
}

.page-content .row {
	margin-bottom: 2em;
}

.img_container{
	background-color: white;
	border: 1em solid #555152;	
		margin-bottom: 2em;
	width: 19.6em;
	height: 19.6em;
	overflow: hidden;
}



@keyframes floating {
  0% {
   transform:translateY(-0.2em);
  }

  45%{
  	transform:translateY(-1.4em);
  }

  50% {
    transform:translateY(-1.5em);
  }

  55% {
  	transform:translateY(-1.4em);
  }

  100% {
   transform:translateY(-0.2em);
  }
}

@-webkit-keyframes floating {
  0% {
   transform:translateY(-2em);
  }

  45%{
  	transform:translateY(-3.4em);
  }

  50% {
    transform:translateY(-3.5em);
  }

  55% {
  	transform:translateY(-3.4em);
  }

  100% {
   transform:translateY(-2em);
  }
}


.floating{
	-moz-animation-duration: 3000ms;
	-moz-animation-iteration-count:infinite;
	-moz-animation-play-state:running;
	-moz-animation-name:floating;

	-webkit-animation-duration: 3000ms;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-play-state:running;
	-webkit-animation-name:floating;

	animation-duration: 3000ms;
	animation-iteration-count:infinite;
	animation-play-state:running;
	aninmation-name:floating;
};

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
    -Webkit-animation-name: shake;
    -Webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count:infinite;

    -moz-animation-name: shake;
    -moz-animation-duration: 1.5s;
	-moz-animation-iteration-count:infinite;

    animation-name: shake;
    animation-duration: 1.5s;
	animation-iteration-count:infinite;
}

#henchman span {
	font-weight: bold;
}

#henchman h2 {
	font-size: 1.5em;
}